<%= form_for(@customer_set) do |f| %>
  <% if @customer_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_set.errors.count, "error") %> prohibited this customer_set from being saved:</h2>

      <ul>
      <% @customer_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %><br>
  <div class="field" style="color:black">
    <%= f.text_field :name %>
  </div>
  <%= f.label :field %><br>
  <div class="field" style="color:black">
    <%= f.select :field, options_for_select(current_user.customers.to_a.each.map { |c| c.custom_data.keys }.flatten.uniq) %>
  </div>
  <%= f.label :comparison %><br>
  <div class="field" style="color:black">
    <%= f.select :comparison, options_for_select(["<", ">"]) %>
  </div>
  <%= f.label :value %><br>
  <div class="field" style="color:black">
    <%= f.text_field :value %>
  </div>
  <br />
  <div class="actions" style="color:black">
    <%= f.submit %>
  </div>
<% end %>
