<%= form_for(@customer_set, html: {class: "form-inline" }) do |f| %>

  <% if @customer_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_set.errors.count, "error") %> prohibited this customer_set from being saved:</h2>
      <ul>
      <% @customer_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <div class="field">
    <%= f.text_field :name %>
  </div>

  <h3>Queries</h3>
  <div id="custom_queries">
    <%= f.fields_for :custom_queries do |custom_query| %>
      <%= render 'custom_query_fields', :f => custom_query %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Query', f, :custom_queries %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
