<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<p id="notice"><%= notice %></p>
<p>
<h1> Active Customers <small><%= link_to 'Graph View', 'active_graph' %> </small></h1>
  <strong>Number of users:</strong>
  <%= @customers.count %>
  <br />
  <strong>Number of active users:</strong>
  <%= @customers.select { |c| c.is_active? }.count %>
  <br />
  <strong>Number of paid users:</strong>
  <%= @customers.select { |c| c.has_paid? }.count %>
  <br />
</p>

<% @superhash = {} %>
<% @all_sets.each do |set| %>
  <% @superhash[set.name] = (set.get_active(current_user).count.round(2) / set.get_customers(current_user).count.round(2)).round(2) * 100 %>
<% end %>

<h3> Descriptors of Active Users Members </h3>
<%= column_chart @superhash, discrete: true, library: { backgroundColor: 'white',hAxis: {title: "Course Set Name"}, vAxis: {title: "% of Active Users meeting [condition]" } } %>

<% if not @customers.empty? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>email</th>
        <th>active?</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |cust| %>
          <tr>
            <td><%= link_to cust.email, customer_path(cust) %></td>
            <td> Yes </td>
          <% end %>
          </tr>
      </tbody>
    </table>
  <% else %>
    <h3> No Users in this Customer Set </h3>
  <% end %>

<%= link_to 'Back', customer_sets_path %>
