<h1>Graph <small> <%= link_to "View Data", active_set_path %> </small> </h1>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<h3> Line Chart </h3>


<%= line_chart @customers.sort_by { |c| c.created_at }.inject(Hash.new(0)) { |k,v| k[v.created_at.strftime("%b, %Y")] += 1; k } %>

<% @hi = @customers.inject(Hash.new(0)) do |h, v|  %>
  <% if v.is_active? %>
    <% h["active"] += 1 %>
  <% else %>
    <% h["inactive"] += 1 %>
    <% end; h %>
  <% end %>


<% @hii = @customers.inject(Hash.new(0)) do |h, v|  %>
  <% if v.has_paid? or v.ever_paid? %>
    <% h["Currently Paid"] += 1 %>
  <% else %>
    <% h["Never paid"] += 1 %>
    <% end; h %>
  <% end %>

  <% @breakdown = @customers.reject { |c| c.custom_data["courses_started"] == 0 }.inject(Hash.new(0)) do |h, v| %>
    <% ratio = (v.custom_data["courses_completed"].to_f / v.custom_data["courses_started"].to_f) %>
    <% if ratio < 0.25 %>
      <%  h["< 25%"] += 1 %>
    <% elsif ratio < 0.50 %>
      <%  h["> 25% | < 50%"] += 1 %>
    <% elsif ratio < 0.75 %>
      <%  h["> 50% | < 75%"] += 1 %>  
    <% else %>
      <% h["> 75%"] += 1 %>
    <% end; h %>
  <% end %>


  <% if false %>
      <% hello = {} %>
      <%  hello["Free"] = 1 %>
      <%  hello["Started"] = 4 %>
      <%  hello["Moderate"] = 10 %>  
      <%  hello["Heavy"] = 6 %>
    <% end %>

  <h3> Active vs Inactive </h3>
  <%= column_chart @hi, discrete: true %>
  <h3> Paid vs Never Paid </h3>
  <%= column_chart @hii, discrete: true%>
  <h3> Active Accounts vs Course Completion Rate </h3>
  <%= column_chart @breakdown, {discrete: true, library: {hAxis: {title: "Course Completion Rate"}, vAxis: {title: "# of Active Accounts" } } }%>
  <br />
  <br />
  <br />
  <br />
  <br />

