<%# add navigation links to this file %>
<% if current_user %>
  <li><%= (link_to "Logout", destroy_user_session_path, method: :delete) %> </li>
  <li><%= link_to "Events", events_path %> </li>
  <li><%= link_to "Customers", customers_path(filter: "All") %> </li>
  <li><%= link_to "Customer Sets", customer_sets_path %> </li>
<% end %>
<% unless current_user %>
  <li><%= (link_to "Login", new_user_session_path) %></li>
  <li><%= (link_to "Register", new_user_registration_path) %></li>
<% end %>
