<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Event Analytics" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Event Analytics" %>">
<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
    <div class="row">
      <!-- SIDEBAR Open -->
      <div id="sidebar-left" class="col-lg-2">
        <ul class="nav nav-tabs nav-stacked sidemenus">
            <h4>Customer Sets </h4>
          <% current_user.customer_sets.each do |set| %>
            <li>
            <%= link_to set.name, set, class: "" %>
            </li>
          <% end %>
        </ul>
      </div>
<div id="content-right" class="col-lg-10 container">
       <%= render 'layouts/messages' %>
       <%= yield %>
</div>
    </main>
  </body>
</html>
